#include "nsdn\nsdnres.h"
#include <owl\window.rh>#include <owl\mdi.rh>

NSDN_ENREG DIALOG 38, 45, 213, 57
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_MDICHILD
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "BORDLG"
CAPTION "ENREGISTREMENT EN COURS"
{
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 204, 20
 CONTROL "Données :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 9, 39, 11
 CONTROL "", IDC_BAR_DATA, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 6, 140, 16
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 32, 204, 20
 CONTROL "Localisations :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 37, 48, 11
 CONTROL "", IDC_BAR_LOC, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 34, 140, 16
}

