#include <owl\window.rh>#include <owl\mdi.rh>

#include "nsdocdlg.rh"

IDD_NWDOC DIALOG 14, 7, 189, 175
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Enregistrement d'un document"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 2, 187, 35
 CONTROL "&Nom", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 7, 20, 8
 CONTROL "", IDC_NWDOC_NOM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 28, 5, 156, 12
 CONTROL "&Date", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 22, 20, 9
 CONTROL "", IDC_NWDOC_CREATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 28, 21, 84, 12
 CONTROL "Ajouter &historique", IDC_NWDOC_HISTOR, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 22, 68, 9
 CONTROL "&Chemise", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 40, 187, 42
 CONTROL "", IDC_NWDOC_CHEM, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 52, 181, 96
 CONTROL "&Autre chemise", IDC_NWDOC_CHGCHEM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 67, 53, 13
 CONTROL "&Importance", IDC_NWDOC_INTGRP, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 85, 187, 45
 CONTROL "Importance", IDC_DOCIMPORTANCE, "msctls_trackbar32", TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE, 5, 97, 180, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", IDC_DOC0P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 114, 20, 12
 CONTROL "+", IDC_DOC1P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 114, 20, 12
 CONTROL "++", IDC_DOC2P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 114, 20, 12
 CONTROL "+++", IDC_DOC3P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 114, 20, 12
 CONTROL "++++", IDC_DOC4P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 114, 20, 12
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 0, 136, 189, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 144, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 73, 144, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 144, 43, 25
}

ID_LDV_NWDOC DIALOG 14, 7, 372, 187
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Enregistrement d'un document"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 3, 205, 57
 CONTROL "&Nom", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 9, 18, 8
 CONTROL "", IDC_NWDOC_NOM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 8, 172, 14
 CONTROL "&Type", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 30, 20, 8
 CONTROL "", IDC_NWDOC_TYPE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 28, 172, 14
 CONTROL "&Date", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 45, 23, 8
 CONTROL "", IDC_NWDOC_CREATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 43, 84, 14
 CONTROL "Ajouter à l'&historique", IDC_NWDOC_HISTOR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 44, 76, 14
 CONTROL "&Chemise", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 64, 204, 45
 CONTROL "", IDC_NWDOC_CHEM, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 76, 181, 86
 CONTROL "&Autre chemise", IDC_NWDOC_CHGCHEM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 92, 53, 13
 CONTROL "&Importance", IDC_NWDOC_INTGRP, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 112, 204, 44
 CONTROL "Importance", IDC_DOCIMPORTANCE, "msctls_trackbar32", TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE, 16, 124, 180, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", IDC_DOC0P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 141, 20, 12
 CONTROL "+", IDC_DOC1P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 141, 20, 12
 CONTROL "++", IDC_DOC2P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 141, 20, 12
 CONTROL "+++", IDC_DOC3P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 141, 20, 12
 CONTROL "++++", IDC_DOC4P, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 176, 141, 20, 12
 CONTROL "", IDC_ROSACE, "button", BS_OWNERDRAW | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 4, 148, 128
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 5, 162, 359, 1
 CONTROL "&Envoi au serveur de ligne de vie", IDC_SYNCHRO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 136, 161, 12
 CONTROL "Note &personnelle", IDC_NOTE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 147, 67, 12
 CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 168, 50, 14
 CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 168, 50, 14
 CONTROL "Help", IDHELP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 168, 50, 14
}

IDD_NWCHEM DIALOG 14, 20, 189, 220
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Création d'une nouvelle chemise"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, -1, 187, 189, 3
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 192, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 192, 37, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 192, 37, 25
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 2, 187, 19
 LTEXT "&Nom", -1, 6, 7, 35, 8
 EDITTEXT IDC_NWCHEM_NOM, 43, 5, 141, 12
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 23, 187, 33
 LTEXT "&Armoire", -1, 6, 29, 35, 8
 PUSHBUTTON "&Nouvelle armoire", IDC_NWCHEM_CHGARMOI, 58, 40, 72, 14
 CONTROL "Commentaire", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 58, 187, 126
 EDITTEXT IDC_NWCHEM_COMMENT, 4, 70, 180, 112, ES_MULTILINE | WS_BORDER | WS_TABSTOP
 COMBOBOX IDC_NWCHEM_ARMOI, 43, 26, 142, 96, CBS_DROPDOWNLIST | WS_TABSTOP
}
#define TestImage	100

TestImage BITMAP{
 '42 4D 76 02 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 3C 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 00 02 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF 00 00 FF FF 00 FF FF FF F0 0F FF FF'
 'FF FF 33 33 33 33 33 33 33 FF FF FF FF 00 00 00'
 '00 FF FF FF 00 00 FF FF F0 0F FF FF 00 FF FF FF'
 'FF F0 00 00 00 00 00 00 03 FF FF FF FF 00 00 00'
 '00 0F FF FF 00 00 FF FF F0 0F FF FF 00 FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 FF FF'
 'FF 00 FF FF 00 00 FF FF F0 00 00 00 00 FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 FF FF'
 'FF 00 FF FF 00 00 FF FF FF 00 00 00 0F FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 FF FF'
 'F0 00 FF FF 00 00 FF FF FF 00 FF F0 0F FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 00 00'
 '00 0F FF FF 00 00 FF FF FF 00 FF F0 0F FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 00 00'
 '00 FF FF FF 00 00 FF FF FF F0 0F 00 FF FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 FF FF'
 'F0 0F FF FF 00 00 FF FF FF F0 0F 00 FF FF FF FF'
 'FF F0 BB BB BB BB BB BB 03 FF FF FF FF 00 FF FF'
 'F0 0F FF FF 00 00 FF FF FF F0 0F 00 FF FF FF FF'
 'FF F0 00 00 00 00 00 00 0F FF FF FF FF 00 FF FF'
 'F0 0F FF FF 00 00 FF FF FF FF 00 0F FF FF FF FF'
 'FF F0 BB BB B0 FF FF FF FF FF FF FF FF 00 00 00'
 '00 0F FF FF 00 00 FF FF FF FF 00 0F FF FF FF FF'
 'FF FF 0B BB 0F FF FF FF FF FF FF FF FF 00 00 00'
 '00 FF FF FF 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F0 00 FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF 00 00'
}

