#include "ns_ocr\ns_ocr.rh"

#include <owl\window.rh>
#include <owl\mdi.rh>

IDD_OCR_LEARN DIALOG 11, 27, 317, 202
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION "OCR : Apprentissage"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_GROUP, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 7, 295, 97
 CONTROL "", IDC_OCRHSCROLL, "scrollbar", SBS_HORZ | WS_CHILD | WS_VISIBLE, 6, 104, 295, 9
 CONTROL "", IDC_OCRVSCROLL, "scrollbar", SBS_VERT | WS_CHILD | WS_VISIBLE, 301, 7, 9, 97
 CONTROL "Donné par l'OCR", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 126, 60, 8
 CONTROL "", IDC_RECONNU, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 124, 60, 12
 CONTROL "Remplacer par", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 146, 60, 8
 CONTROL "", IDC_CHARS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 144, 219, 12
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 165, 309, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 37, 172, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 172, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 172, 43, 25
}

