// -----------------------------------------------------------------------------
// healthteam.rc
// -----------------------------------------------------------------------------
// RC de l'interface de gestion de l'Equipe de Santé.
// --
// RC of HealthTeam Managment Interface.
// -----------------------------------------------------------------------------
// $Revision: 1.2 $
// $Author: pameline $
// $Date: 2009/07/04 09:41:02 $
// -----------------------------------------------------------------------------
// FLP - juin 2004
// -----------------------------------------------------------------------------

#include "healthteam.rh"
#include <owl\window.rh>
#include <owl\mdi.rh>

IDD_HEALTHTEAM DIALOG 11, 27, 350, 295
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Gestionnaire de l'Equipe de Santé"
FONT 8, "MS Sans Serif"
{
 CONTROL "patient : ", IDC_LABEL, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 8, 336, 16
 CONTROL "UserList", IDC_MEMBERSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 32, 336, 188
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 14, 256, 322, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 264, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 264, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 280, 264, 43, 25
 CONTROL "Ajouter un membre ", IDC_ADDMEMBER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 226, 67, 25
}


/*
IDD_HEALTHTEAMMEMBEROLD DIALOG 11, 27, 330, 241
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "Administratif", IDCG_ADMIN, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 10, 310, 45
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 22, 50, 8, WS_EX_TRANSPARENT
 CONTROL "", IDCE_ID, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 20, 60, 12
 CONTROL "nom", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 22, 30, 8
 CONTROL "", IDCE_NAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 180, 20, 120, 12
 CONTROL "fonction", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 38, 30, 8
 CONTROL "", IDCE_FUNCTION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 180, 36, 56, 12
 CONTROL "Mandat d'Utilisation", IDCG_USERMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 60, 150, 145
 CONTROL "position", IDCG_USERPOSITION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 70, 140, 50
 CONTROL "distance", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 83, 50, 8
 CONTROL "", IDCE_USERDISTANCE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 81, 60, 12
 CONTROL "angle", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 100, 50, 8
 CONTROL "", IDCE_USERANGLE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 98, 60, 12
 CONTROL "mandat", IDCG_USERDEFMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 120, 140, 80
 CONTROL "date de début", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 133, 50, 8
 CONTROL "", IDCE_USERBEGINDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 131, 60, 12
 CONTROL "date de fin", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 148, 50, 8
 CONTROL "", IDCE_USERENDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 146, 60, 12
 CONTROL "durée", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 167, 50, 8
 CONTROL "", IDCE_USERDURATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 24, 179, 50, 12
 CONTROL "", IDCCB_USERDURATIONUNIT, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 179, 60, 44
 CONTROL "Mandat d'Administration", IDCG_ROOTMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 60, 150, 145
 CONTROL "position", IDCG_ROOTPOSITION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 70, 140, 50
 CONTROL "distance", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 83, 50, 8
 CONTROL "", IDCE_ROOTDISTANCE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 80, 60, 12
 CONTROL "angle", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 99, 50, 8
 CONTROL "", IDCE_ROOTANGLE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 98, 60, 12
 CONTROL "mandat", IDCG_ROOTDEFMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 120, 140, 80
 CONTROL "date de début", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 132, 50, 8
 CONTROL "", IDCE_ROOTBEGINDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 131, 60, 12
 CONTROL "date de fin", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 147, 50, 8
 CONTROL "", IDCE_ROOTENDDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 146, 60, 12
 CONTROL "durée", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 166, 50, 8
 CONTROL "", IDCE_ROOTDURATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 184, 179, 50, 12
 CONTROL "", IDCCB_ROOTDURATIONUNIT, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 179, 60, 44
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 211, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142, 211, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 211, 43, 25
}
*/


IDD_HEALTHTEAMMEMBER DIALOG 11, 28, 350, 249
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Gestion des mandats d'un membre de l'équipe de santé"
FONT 8, "MS Sans Serif"
{
 CONTROL "Gestion des mandats de l'utilisateur", IDCG_MANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 208, 151, 37
 CONTROL "Administratif", IDCG_ADMIN, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 10, 250, 30
 CONTROL "nom :", IDCE_ID, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 23, 202, 8
 CONTROL "UserList", IDC_MANDATELIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 50, 330, 150
 CONTROL "Ajouter", IDC_ADDMANDATE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 216, 43, 25
 CONTROL "Modifier", IDC_MODMANDATE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 216, 43, 25
 CONTROL "Supprimer", IDC_DELMANDATE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 109, 216, 43, 25
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 218, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 218, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 296, 218, 43, 25
 CONTROL "Supprimer ce membre", IDC_REMOVEMEMBER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 261, 12, 78, 30, WS_EX_STATICEDGE
}


IDD_HEALTHTEAMMANDATE DIALOG 11, 27, 200, 245
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "Administratif", IDCG_ADMIN, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 5, 180, 127
 CONTROL "nom", IDC_CIVILITE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 17, 160, 8
 CONTROL "type de mandat", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 32, 50, 8
 CONTROL "", IDCCB_TYPE, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 80, 32, 100, 34
 CONTROL "position", IDCG_POSITION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 48, 170, 49
 CONTROL "distance", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 30, 60, 30, 8
 CONTROL "", IDCCB_DISTANCE, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 80, 57, 100, 48
 CONTROL "angle", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 31, 78, 30, 8
 CONTROL "", IDCCB_ANGLE, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 80, 77, 100, 72
 CONTROL "métier", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 100, 50, 8
 CONTROL "", IDCE_PROFESSION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 79, 100, 100, 12
 CONTROL "spécialité", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 116, 50, 8
 CONTROL "", IDCE_SPECIALITY, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 79, 116, 100, 12
 CONTROL "définition temporelle du mandat", IDCG_TEMPORAL, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 137, 180, 70
 CONTROL "date de début", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 159, 50, 8
 CONTROL "", IDCE_BEGINDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 157, 100, 12
 CONTROL "date de fin", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 174, 50, 8
 CONTROL "", IDCE_ENDDATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 172, 100, 12
 CONTROL "durée", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 189, 50, 8
 CONTROL "", IDCE_DURATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 187, 30, 12
 CONTROL "", IDCCB_DURATIONUNIT, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 120, 187, 60, 34
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 212, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 212, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 147, 212, 43, 25
}

IDD_CREATE_MANDAT_DIALOG DIALOG 0, 0, 301, 195
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Création d'un mandat"
FONT 8, "MS Sans Serif"
{
 CONTROL "PATIENT ou personne ayant droit d'administration du compte patient", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 3, 290, 45
 CONTROL "&Identifiant collectif ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 15, 65, 8
 CONTROL "", IDC_MC_LOGIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 26, 125, 14
 CONTROL "&Mot de passe collectif", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 158, 15, 106, 8
 CONTROL "", IDC_MC_PASSWORD, "edit", ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 158, 26, 125, 14
 CONTROL "Pour les &administrateur de compte", IDC_CHECK_ADMIN, "button", BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 53, 140, 12
 CONTROL "", IDC_LIDEN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 77, 132, 14
 CONTROL "Ajouter un MANDAT pour la personne suivante :", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 96, 290, 64
 CONTROL "", IDC_MC_LDV, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 121, 125, 14
 CONTROL "Identiant Ligne de &Vie ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 109, 138, 8
 CONTROL "OU", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 138, 124, 12, 8
 CONTROL "Identifiant &ADELI (professionnel de santé)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 153, 108, 133, 8
 CONTROL "", IDC_MC_ID_PROS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 120, 125, 14
 CONTROL "&Détails du mandat", IDC_DEFINE_MANDAT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 140, 204, 14
 CONTROL "Button4", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 164, 43, 25
 CONTROL "Button5", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 164, 43, 25
 CONTROL "Button7", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 164, 43, 25
 CONTROL "Identifiant &Ligne de Vie du patient", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 11, 65, 124, 9
}

IDD_GRAPHIC_HEALTH_TEAM DIALOG 0, 0, 353, 269
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Equipe de santé"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_ROSACE, "button", BS_OWNERDRAW | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 344, 244
 CONTROL "Ok", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 252, 50, 14
 CONTROL "Annuler", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 252, 50, 14
 CONTROL "Aide", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 263, 252, 50, 14
}


/*
IDD_HEALTHTEAMMEMBERDETAILS DIALOG 11, 27, 330, 241
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "Administratif", IDCG_ADMIN, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 10, 310, 45
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 22, 50, 8
 CONTROL "", IDCS_ID, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 22, 60, 8
 CONTROL "nom", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 22, 30, 8
 CONTROL "", IDCS_NAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 180, 22, 120, 8
 CONTROL "fonction", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 38, 30, 8
 CONTROL "", IDCS_FUNCTION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 180, 38, 50, 8
 CONTROL "Mandat d'Utilisation", IDCG_USERMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 60, 150, 145
 CONTROL "position", IDCG_USERPOSITION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 70, 140, 50
 CONTROL "distance", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 83, 50, 8
 CONTROL "", IDCS_USERDISTANCE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 83, 60, 8
 CONTROL "angle", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 100, 50, 8
 CONTROL "", IDCS_USERANGLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 100, 60, 8
 CONTROL "mandat", IDCG_USERDEFMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 120, 140, 80
 CONTROL "date de début", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 133, 50, 8
 CONTROL "", IDCS_USERBEGINDATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 133, 60, 8
 CONTROL "date de fin", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 148, 50, 8
 CONTROL "", IDCS_USERENDATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 148, 60, 8
 CONTROL "durée", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 167, 50, 8
 CONTROL "", IDCS_USERDURATION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 179, 50, 8
 CONTROL "", IDCS_USERDURATIONUNIT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 179, 60, 8
 CONTROL "Mandat d'Administration", IDCG_ROOTMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 60, 150, 145
 CONTROL "position", IDCG_ROOTPOSITION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 70, 140, 50
 CONTROL "distance", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 83, 50, 8
 CONTROL "", IDCS_ROOTDISTANCE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 83, 60, 8
 CONTROL "angle", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 99, 50, 8
 CONTROL "", IDCS_ROOTANGLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 99, 60, 8
 CONTROL "mandat", IDCG_ROOTDEFMANDATE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 120, 140, 80
 CONTROL "date de début", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 132, 50, 8
 CONTROL "", IDCS_ROOTBEGINDATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 132, 60, 8
 CONTROL "date de fin", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 147, 50, 8
 CONTROL "", IDCS_ROOTENDDATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 147, 60, 8
 CONTROL "durée", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 166, 50, 8
 CONTROL "", IDCS_ROOTDURATION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 179, 50, 8
 CONTROL "", IDCS_ROOTDURATIONUNIT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 179, 60, 8
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 211, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142, 211, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 211, 43, 25
}
*/
