//#include "e:\cvs\nautilus\include\partage\nsmatfic.rh"#include "partage\nsmatfic.rh"
IDD_MATERIEL DIALOG 11, 27, 309, 153STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION "CHOIX DES MATERIELS"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 7, 295, 105
 CONTROL "", IDC_MATERIELBOX, "listbox", LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP, 11, 19, 286, 95
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 117, 308, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 39, 124, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 124, 43, 25
 CONTROL "Elargir le choix", ID_ELARGIR, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 124, 57, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 124, 43, 25
}

IDD_PROTOCOL DIALOG 11, 27, 309, 153
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION "CHOIX DES PROTOCOLES"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 7, 295, 105
 CONTROL "", IDC_PROTOCOLBOX, "LISTBOX", LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP, 11, 19, 286, 95
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 117, 308, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 124, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 124, 37, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 192, 124, 37, 25
}

IDD_LISTMAT DIALOG 0, 0, 353, 199
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Liste des matériels"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_LM_LW, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER, 4, 4, 344, 132
 CONTROL "Créer", IDC_LM_CREER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 144, 60, 13
 CONTROL "Supprimer", IDC_LM_SUPPR, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 144, 60, 13
 CONTROL "Modifier", IDC_LM_MODIF, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 250, 144, 60, 13
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 168, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 168, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 239, 168, 43, 25
}

IDD_CREAT_MAT DIALOG 0, 0, 235, 153
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Création / Modification d'un matériel"
FONT 8, "MS Sans Serif"
{
 CONTROL "Libellé", IDS_CM_LIBELLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 8, 124, 8
 CONTROL "", IDC_CM_LIBELLE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 16, 200, 14
 CONTROL "Type", IDS_CM_TYPE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 40, 96, 8
 CONTROL "", IDC_CM_TYPE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 48, 200, 13
 CONTROL "N° de série", IDS_CM_NUM_SERIE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 76, 60, 8
 CONTROL "", IDC_CM_NUM_SERIE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 84, 88, 13
 CONTROL "Mise en service", IDS_CM_MISE_SVCE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 76, 60, 8
 CONTROL "", IDC_CM_MISE_SVCE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 112, 84, 56, 13
 CONTROL "Actif", IDC_CM_ACTIF, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 176, 68, 40, 36
 CONTROL "Oui", IDC_CM_ACTIF_OUI, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 80, 32, 9
 CONTROL "Non", IDC_CM_ACTIF_NON, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 92, 32, 9
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 116, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 116, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 116, 43, 25
}

IDD_LISTARCH DIALOG 0, 0, 493, 199
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Liste des Archétypes/Référentiels"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_LM_LW, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 4, 240, 156
 CONTROL "", IDC_LM_LW_T, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 248, 4, 240, 156
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 168, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 168, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 349, 168, 43, 25
}

