// ns_sgbd.rc : ressources des dialogues bases de donnees

#include "ns_sgbd\ns_sgbd.rh"

IDD_REPARE DIALOG 10, 10, 267, 182
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Réparation de tables"
FONT 8, "MS Sans Serif"
{
 CONTROL "TABLE", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 4, 263, 24
 CONTROL "Table :", IDC_STABLE, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 16, 261, 8
 CONTROL "Particularités :", IDC_SMESSAGE, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 32, 256, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 42, 256, 44
 CONTROL "Vérifier", IDC_BVERIFIE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 48, 43, 25
 CONTROL "Entête", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 44, 24, 8
 CONTROL "Entête", IDC_PRGBAR_ENTETE, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 56, 44, 15
 CONTROL "Index", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 44, 24, 8
 CONTROL "Index", IDC_PRGBAR_INDEX, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 128, 56, 44, 15
 CONTROL "Données", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 190, 44, 32, 8
 CONTROL "Données", IDC_PRGRBAR_DATA, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 184, 56, 44, 15
 CONTROL "Message :", IDC_VERIF_MSG, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 76, 250, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 94, 256, 44
 CONTROL "Réparer", IDC_BREPARE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 100, 43, 25
 CONTROL "ProgressBar1", IDC_PRGBAR_REPARE, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 108, 160, 15
 CONTROL "Message :", IDC_REPARE_MSG, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 128, 250, 8
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 5, 142, 256, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 57, 152, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 152, 43, 25
}

// fin de ns_sgbd.rc

