#include <owl\window.rh>#include "nscompta\nsCptaRef.rh"IDD_CLAM DIALOG 11, 27, 373, 153
// STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "bordlg"
CAPTION "CHOIX DU CODE"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 4, 362, 108
 CONTROL "", IDC_LIBRE, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 8, 356, 100
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 117, 371, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 124, 43, 25
 CONTROL "Elargir le choix", ID_ELARGIR, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 245, 124, 57, 25
}
IDD_CLAM_MGMT DIALOG 11, 27, 650, 340// STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "bordlg"
CAPTION "Gestion des actes libres"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 642, 298
 CONTROL "", IDC_CLAMS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 8, 634, 290
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 305, 648, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 310, 43, 25
 CONTROL "Nouveau", ID_NEW, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 310, 43, 25
}IDD_CLAM_EDIT DIALOG 0, 0, 292, 103STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Acte libre"
FONT 8, "MS Sans Serif"
{
 CONTROL "Libellé", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 5, 40, 10
 CONTROL "", IDC_CLAM_LABEL, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 4, 240, 12
 CONTROL "Code", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 21, 40, 10
 CONTROL "", IDC_CLAM_CODE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 20, 98, 12
 CONTROL "Examen", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 158, 21, 40, 10
 CONTROL "", IDC_CLAM_EXAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 190, 20, 98, 12
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 38, 140, 32
 CONTROL "Prix d'achat", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 44, 60, 10
 CONTROL "", IDC_CLAM_PRIX_E, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 43, 50, 12
 CONTROL "€", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 44, 15, 10
 CONTROL "", IDC_CLAM_PRIX_F, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 55, 50, 12
 CONTROL "F", IDC_LOT_SIGLE, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 56, 15, 10
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 148, 38, 140, 32
 CONTROL "Fréquence", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 152, 44, 60, 8
 CONTROL "", IDC_CLAM_FREQ, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 214, 43, 50, 12
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 73, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 73, 43, 25
}
IDD_LOT_MGMT DIALOG 11, 27, 650, 340// STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "bordlg"
CAPTION "Gestion des consommables"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 642, 298
 CONTROL "", IDC_LOTS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 8, 634, 290
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 305, 648, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 310, 43, 25
 CONTROL "Nouveau", ID_NEW, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 310, 43, 25
}
IDD_LOT_EDIT DIALOG 0, 0, 292, 195STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Lot de consommables"
FONT 8, "MS Sans Serif"
{
 CONTROL "Libellé", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 5, 40, 10
 CONTROL "", IDC_LOT_LABEL, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 4, 240, 12
 CONTROL "Lexique", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 21, 40, 10
 CONTROL "", IDC_LOT_LEXIQUE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 20, 98, 12
 CONTROL "Examen", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 158, 21, 40, 10
 CONTROL "", IDC_LOT_EXAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 190, 20, 98, 12
 CONTROL "Statut", IDC_LOT_STATUS, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 38, 284, 24
 CONTROL "En stock (pas encore ouvert)", IDC_LOT_NEW, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 50, 120, 8
 CONTROL "Ouvert", IDC_LOT_OPEN, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 50, 68, 9
 CONTROL "Vide", IDC_LOT_CLOSE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 50, 40, 9
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 66, 140, 44
 CONTROL "Date d'achat", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 72, 60, 8
 CONTROL "", IDC_LOT_DATE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 70, 50, 12
 CONTROL "Prix d'achat", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 86, 60, 10
 CONTROL "", IDC_LOT_ACHAT_E, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 84, 50, 12
 CONTROL "€", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 86, 15, 10
 CONTROL "", IDC_LOT_ACHAT_F, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 96, 50, 12
 CONTROL "F", IDC_LOT_SIGLE_A, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 98, 15, 10
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 148, 76, 140, 34
 CONTROL "Prix de vente", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 152, 86, 60, 8
 CONTROL "", IDC_LOT_VENTE_E, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 214, 84, 50, 12
 CONTROL "€", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 86, 15, 10
 CONTROL "", IDC_LOT_VENTE_F, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 214, 96, 50, 12
 CONTROL "F", IDC_LOT_SIGLE_V, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 98, 15, 10
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 112, 140, 48
 CONTROL "Quantité initiale", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 118, 60, 8
 CONTROL "", IDC_LOT_QTE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 116, 65, 12
 CONTROL "Quantité restante", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 132, 60, 8
 CONTROL "", IDC_LOT_REMAINS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 130, 65, 12
 CONTROL "Seuil d'alerte", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 146, 60, 8
 CONTROL "", IDC_LOT_ALERT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 144, 65, 12
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 148, 114, 140, 20
 CONTROL "Code barre", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE, 152, 120, 90, 8
 CONTROL "", IDC_LOT_BARRE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 214, 118, 70, 12
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 165, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 165, 43, 25
}
