#include "ns_bbk.rh"

#include <owl\window.rh>
#include <owl\mdi.rh>

IDD_BBK DIALOG 34, 17, 195, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Blackboard - in progress"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 4, 187, 76
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 115, 189, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 123, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 123, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 123, 43, 25
 CONTROL "init BBK", IDC_INITBBK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 12, 50, 14
 CONTROL "run 1 cycle", IDC_GO1CYCLE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 34, 50, 14
 CONTROL "run to finish", IDC_GO, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 34, 50, 14
 CONTROL "delete BBK", IDC_STOPBBK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 12, 50, 14
 CONTROL "DPIO", IDC_DPIO, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 56, 56, 17
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 84, 187, 24
 CONTROL "VIDAL", IDC_VIDAL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 88, 56, 17
}

DPIO_BASE DIALOG 6, 20, 189, 224
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CLASS "bordlg"
CAPTION ""
FONT 8, "MS Sans Serif"
{
}


