
#include "pilot\agentList.rh"
#include <owl/window.rh>

IDD_AGENTS_WINDS DIALOG 60, 80, 300, 132
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Liste des agents"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 9, 43, 25
 CONTROL "Cancel", IDCANCEL, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 47, 43, 25
 CONTROL "Help", IDHELP, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 86, 43, 25
 CONTROL "", AGENT_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER, 6, 10, 214, 105
}

IDD_AGENTSTATUS DIALOG 0, 0, 231, 104
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Agent status"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 71, 43, 25
 CONTROL "Cancel", IDCANCEL, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 123, 71, 43, 25
 CONTROL "Help", IDHELP, "BorBtn", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 71, 43, 25
 CONTROL "Demarer", IDC_START, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 71, 43, 25
 CONTROL "L'agent", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 4, 44, 12
 CONTROL "Agent name", IDC_AGENTNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 21, 208, 18
 CONTROL "Agent status", IDC_AGENTSTATUS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 39, 216, 30
}

