#include "ns_arche.rh"
IDD_CREAT_REFERENTIAL DIALOG 0, 0, 235, 114
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Création d'un référentiel"
FONT 8, "MS Sans Serif"
{
 CONTROL "Titre", IDC_TXT_TITLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 8, 124, 8
 CONTROL "", IDC_EDIT_TITLE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 16, 228, 14
 CONTROL "Identifiant", IDC_TXT_ID, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 32, 88, 8
 CONTROL "", IDC_EDIT_ID, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 40, 92, 13
 CONTROL "Concept", IDC_TXT_CONCEPT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 114, 32, 88, 8
 CONTROL "", IDC_EDIT_CONCEPT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 114, 40, 118, 13
 CONTROL "Santé", IDC_HEALTH_CONCEPT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 56, 70, 12
 CONTROL "Social", IDC_SOCIAL_CONCEPT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 56, 70, 12
 CONTROL "Risque", IDC_RISK_CONCEPT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 56, 70, 12
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 80, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 80, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 80, 43, 25
}

IDD_EDIT_REF_PARAMS DIALOG 0, 0, 235, 284
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres de proposition"
FONT 8, "MS Sans Serif"
{
 CONTROL "Titre long", IDC_TXT_LONG, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 8, 224, 8
 CONTROL "Titre court", IDC_TXT_SHORT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 24, 224, 8
 CONTROL "&Titre", IDC_TXT_NAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 40, 228, 8
 CONTROL "", IDC_EDIT_NAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 48, 228, 14
 CONTROL "&Groupe", IDC_TXT_GROUP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 68, 228, 8
 CONTROL "", IDC_EDIT_GROUP, "combobox", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 228, 104
 CONTROL "&Aide en ligne", IDC_TXT_HELP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 96, 228, 8
 CONTROL "", IDC_EDIT_HELP, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 104, 228, 13
 CONTROL "Archétype de &justification d'annulation", IDC_TXT_UNCHCK, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 124, 228, 8
 CONTROL "", IDC_EDIT_UNCHCK, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 132, 228, 13
 CONTROL "Sélection automatique", IDC_TXT_AUTOSEL, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 152, 88, 48
 CONTROL "&Oui", IDR_AUTO_YES, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 168, 40, 12
 CONTROL "&Non", IDR_AUTO_NO, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 182, 40, 12
 CONTROL "Niveau de preuve", IDC_TXT_LEVEL, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 96, 152, 136, 88
 CONTROL "&A (preuve scientifique établie)", IDR_LEVEL_A, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 168, 128, 12
 CONTROL "&B (présomption scientifique)", IDR_LEVEL_B, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 182, 128, 12
 CONTROL "&C (faible niveau de preuve scientif.)", IDR_LEVEL_C, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 196, 128, 12
 CONTROL "Accord &professionnel fort", IDR_LEVEL_PRO, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 210, 128, 12
 CONTROL "&Indéterminé", IDR_LEVEL_UNKNOWN, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 224, 128, 12
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 252, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 252, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 252, 43, 25
}

