#include "nsoutil\v2_3.rh"#include "nsoutil\nsimport.rh"
IMPORTATION_COCCI DIALOG 33, 17, 195, 154
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Reprise d'informations depuis Coccilog"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 2, 187, 106
 CONTROL "Table Administrative", IDC_CVT_PAT, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 12, 76, 12
 CONTROL "Fichier correspondants", IDC_CVT_COR, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 28, 88, 12
 //CONTROL "Fichier utilisateurs", IDC_CVT_UTIL, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 44, 88, 12
 //CONTROL "Fichier matériels", IDC_CVT_MAT, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 60, 88, 12
 //CONTROL "Fusion d'un autre Fichier patients", IDC_CVT_PATSUP, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 76, 140, 9
 //CONTROL "Autre", IDC_CVT_AUTRE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 92, 140, 9
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 111, 189, 1
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 116, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 116, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 116, 43, 25
}

CVT_COCCI_ADMIN DIALOG 66, 21, 245, 63STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Importation de la table administrative"
FONT 8, "MS Sans Serif"
{
 CONTROL "Num", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 14, 20, 8
 CONTROL "", IDC_CVT_NSS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 10, 40, 12
 CONTROL "Code", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 12, 20, 8
 CONTROL "", IDC_CVT_CODE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 9, 60, 12
 CONTROL "Nom", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 30, 20, 8
 CONTROL "", IDC_CVT_NOM, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 26, 124, 12
 CONTROL "Prénom", 106, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 41, 28, 8
 CONTROL "", IDC_CVT_PRENOM, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 41, 124, 12
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 172, 6, 1, 52
 CONTROL "Stop", IDC_CVT_STOP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 33, 43, 25
 CONTROL "Lancer", IDC_CVT_START, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 5, 43, 25
}

CVT_COCCI_COR DIALOG 66, 21, 245, 63STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Conversion du fichier Correspondants"
FONT 8, "MS Sans Serif"
{
 CONTROL "Code", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 20, 20, 8
 CONTROL "", IDC_CVT_CODE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 17, 60, 12
 CONTROL "Nom", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 39, 20, 8
 CONTROL "", IDC_CVT_NOM, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 34, 124, 12
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 172, 6, 1, 52
 CONTROL "Stop", IDC_CVT_STOP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 33, 43, 25
 CONTROL "Lancer", IDC_CVT_START, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 5, 43, 25
}
