/****************************************************************************


objectif_view.rc


*****************************************************************************/
#include "objectif_viewer.rh" 

IDD_OBJECTIF_VIEW DIALOG 0, 0, 320, 301
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Objectif de santé"
FONT 8, "MS Sans Serif"
{
 CONTROL "Objectif :", IDC_OBJECTIF_BOX, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 2, 252, 50
 CONTROL "", IDC_OBJECTIF_NAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 16, 160, 13

 CONTROL "Présence ", IDC_PRESENCE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 13, 44, 9
 CONTROL "Absence", IDC_ABSENT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 23, 44, 9
 CONTROL "de ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 58, 18, 16, 13
 CONTROL "Description :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 34, 48, 13
 CONTROL "", IDC_COMPLEMENT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 34, 160, 13

 CONTROL "Mode", IDC_GROUP, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 258, 2, 56, 50
 CONTROL "Cyclique", IDC_CYCLE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 263, 10, 48, 13
 CONTROL "Ponctuel", IDC_ONE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 263, 24, 41, 10
 CONTROL "Permanent", IDC_PERMANENT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 263, 34, 49, 14

 CONTROL "Début :", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 54, 252, 24
 CONTROL "Date :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 64, 32, 8
 CONTROL "", IDC_DATE_DEBUT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 61, 80, 14
 CONTROL "Evénement  :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 131, 63, 42, 9
 CONTROL "OU", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 117, 63, 13, 10
 CONTROL "", IDC_EVENIMENT_DEBUT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 172, 61, 80, 13

 CONTROL "Fin :", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 78, 252, 24
 CONTROL "Date :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 89, 32, 8
 CONTROL "", IDC_DATE_END, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 86, 80, 13
 CONTROL "OU", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 117, 87, 13, 10
 CONTROL "Evénement  :", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 131, 87, 40, 9
 CONTROL "", IDC_EVENIMENT_END, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 172, 86, 80, 13

 CONTROL "Période", IDC_STATIC_PERIOD, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 76, 116, 45, 9
 CONTROL "ComboBox1", IDC_PERIOD_UNIT, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 127, 80, 60

 CONTROL "", IDC_PERIOD_AUTHORIZE_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 152, 80, 13
 CONTROL "", IDC_PERIOD_RECOMMEND_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 167, 80, 13
 CONTROL "", IDC_PERIOD_IDEAL_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 182, 80, 13
 CONTROL "", IDC_PERIOD_IDEAL_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 197, 80, 13
 CONTROL "", IDC_PERIOD_RECOMMEND_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 212, 80, 13
 CONTROL "", IDC_PERIOD_AUTHORIZE_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 227, 80, 13

 CONTROL "01/01/2006", IDC_DATE_AUTHORIZE_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 152, 80, 13
 CONTROL "01/02/2006", IDC_DATE_RECOMMAND_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 167, 80, 13
 CONTROL "01/03/2006", IDC_DATE_IDEAL_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 182, 80, 13
 CONTROL "01/04/2006", IDC_DATE_IDEAL_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 197, 80, 13
 CONTROL "01/05/2006", IDC_DATE_RECOMMAND_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 212, 80, 13
 CONTROL "01/06/2006", IDC_DATE_AUTHORIZE_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 227, 80, 13

 CONTROL "Value", IDC_STATIC_VALUE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 216, 115, 42, 9
 CONTROL "", IDC_VALUE_UNIT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 128, 80, 14

 CONTROL "", IDC_VALUE_AUTHORIZE_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 152, 80, 13
 CONTROL "", IDC_VALUE_RECOMMEND_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 167, 80, 13
 CONTROL "", IDC_VALUE_IDEAL_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 182, 80, 13
 CONTROL "", IDC_VALUE_IDEAL_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 197, 80, 13
 CONTROL "", IDC_VALUE_RECOMMEND_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 212, 80, 13
 CONTROL "", IDC_VALUE_AUTHORIZE_MIN, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 227, 80, 13

 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 157, 19, 1
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 172, 19, 1
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 187, 19, 1
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 202, 19, 1
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 217, 19, 1
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 168, 232, 19, 1
 CONTROL "", IDC_LINE1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 157, 19, 1
 CONTROL "", IDC_LINE2, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 172, 19, 1
 CONTROL "", IDC_LINE3, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 187, 19, 1
 CONTROL "", IDC_LINE4, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 202, 19, 1
 CONTROL "", IDC_LINE5, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 217, 19, 1
 CONTROL "", IDC_LINE6, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 130, 232, 19, 1

 CONTROL "Frame13", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 106, 308, 160
 CONTROL "min", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 155, 247, 28, 8
 CONTROL "max", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 155, 120, 24, 8
 CONTROL "Moments", IDC_STATIC_MOMMENTS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 78, 133, 40, 14

 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 269, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 269, 43, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 269, 43, 25

}

