#include "nautilus\nsepisod.rh"

EPISOD_REFERENCE DIALOG 66, 30, 393, 284
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Episodus : Ajout et modification d'un modèle"
FONT 8, "MS Sans Serif"
{
 CONTROL "NOUVEAU MODELE", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 9, 320, 39
 CONTROL "Nom", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 30, 16, 8
 CONTROL "", IDC_NOUVEAU, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 28, 196, 12
 CONTROL "Créer", IDC_CREER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 248, 28, 50, 14
 CONTROL "MODELES EXISTANTS", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 52, 320, 112
 CONTROL "", IDC_LIBELLES, "listbox", LBS_NOTIFY | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 8, 67, 220, 96
 CONTROL "Remplacer", IDC_REPLACE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 248, 68, 50, 14
 CONTROL "Détruire", IDC_REMOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 248, 92, 50, 14
 CONTROL "SOUS-MODELES EXISTANTS", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 168, 320, 112
 CONTROL "", IDC_SUBLIBELLES, "listbox", LBS_NOTIFY | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 8, 183, 220, 96
 CONTROL "Détruire", IDC_SUBREMOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 248, 208, 50, 14
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 332, 12, 1, 260
 CONTROL "Importer", IDC_IMPORT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 340, 29, 43, 25
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 340, 129, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 340, 229, 43, 25
}

EPISOD_REF_IMPORT DIALOG 66, 30, 329, 255
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Episodus : Importation d'un modèle"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 320, 20
 CONTROL "", IDC_NOUVEAU, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 8, 312, 12
 CONTROL "MODELES", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 28, 320, 88
 CONTROL "", IDC_LIBELLES, "listbox", LBS_STANDARD | LBS_MULTIPLESEL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 43, 312, 75
 CONTROL "SOUS-MODELES", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 121, 320, 88
 CONTROL "", IDC_SUBLIBELLES, "listbox", LBS_STANDARD | LBS_MULTIPLESEL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 136, 312, 75
 CONTROL "Importer sélection", IDC_IMPORT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 220, 110, 25
 CONTROL "Tout importer", IDC_CREER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 220, 110, 25
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 220, 43, 25
}

DLG_BASE_DPIO DIALOG 6, 16, 189, 224
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CLASS "bordlg"
CAPTION ""
FONT 8, "MS Sans Serif"
{
}

