/****************************************************************************

nsMailBox.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "nsMailBox.rh"

LOAD_MAILS DIALOG 38, 45, 213, 79
// EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_MDICHILD
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "BORDLG"
CAPTION "Chargement des messages"
{
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 204, 20
 CONTROL "Nouveaux messages :", IDC_TXT_NEW, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 9, 96, 11
 CONTROL "", IDC_BAR_NEW, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 108, 6, 96, 16
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 32, 204, 20
 CONTROL "Anciens messages :", IDC_TXT_OLD, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 37, 96, 11
 CONTROL "", IDC_BAR_OLD, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 108, 34, 96, 16
 CONTROL "STOP", STOP_BTN, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 60, 87, 14
}

LOAD_TANK DIALOG 38, 45, 213, 51
// EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_MDICHILD
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "BORDLG"
CAPTION "Chargement du réservoir de patients"
{
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 204, 20
 CONTROL "Patients :", IDC_TXT_NEW, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 9, 96, 11
 CONTROL "", IDC_BAR_NEW, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 108, 6, 96, 16
 CONTROL "STOP", STOP_BTN, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 32, 87, 14
}

ID_MSGDOCPARAMS DIALOG 14, 7, 211, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres du document"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 3, 205, 57
 CONTROL "&Nom", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 9, 18, 8
 CONTROL "", IDC_NOM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 8, 172, 14
 CONTROL "&Type", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 30, 20, 8
 CONTROL "", IDC_TYPE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 28, 172, 14
 CONTROL "&Date", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 45, 23, 8
 CONTROL "", IDC_CREATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 43, 84, 14
 CONTROL "Ajouter à l'&historique", IDC_HISTOR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 44, 76, 14
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 70, 205, 1
 CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 75, 50, 14
 CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 75, 50, 14
 CONTROL "Help", IDHELP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 75, 50, 14
}

HPRIM1 BITMAP
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF F8 8F FF FF FF FF FF FF CC 8F FF FF FF FF'
 'FF FF CC 8F FF FF FF FF FF FF CC 8F FF FF F0 0F'
 'F0 0F CC 8F FF FF F0 0F F0 0F CC 8F FF FF F0 0F'
 'F0 0F CC 8F FF FF F0 0F F0 0F CC 8F FF FF F0 0F'
 'F0 08 CC 8F FF FF F0 0F F0 CC CC 8F FF FF F0 00'
 '00 FF CC FF FF FF F0 0F FF FF FF FF FF FF F0 0F'
 'FF 0F FF FF FF FF F0 0F FF 0F FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

HPRIM2 BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF F8 88 88 8F FF FF FF FF 99 99 99 FF FF FF FF'
 'FF 99 8F FF FF FF FF FF FF 99 88 FF FF FF F0 0F'
 'F0 F9 98 8F FF FF F0 0F F0 FF 99 88 FF FF F0 0F'
 'F0 FF F9 98 8F FF F0 0F F0 F8 8F 99 8F FF F0 0F'
 'F0 99 8F 99 8F FF F0 0F F0 99 88 99 FF FF F0 00'
 '00 F9 99 9F FF FF F0 0F FF FF FF FF FF FF F0 0F'
 'FF 0F FF FF FF FF F0 0F FF 0F FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

UNKNOWN BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 88 FF FF FF FF FF FF F0 08 FF FF FF FF FF'
 'FF F0 0F FF FF FF FF FF FF FF 88 FF FF FF FF FF'
 'FF F0 08 FF FF FF FF FF FF F0 08 8F FF FF FF FF'
 'FF FF 00 88 FF FF FF FF FF 88 F0 08 FF FF FF FF'
 'F0 08 F0 08 FF FF FF FF F0 08 80 0F FF FF FF FF'
 'FF 00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

MAILNEW BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF F7 77'
 '77 77 77 77 77 7F F7 8B BB BB BB BB B8 7F F7 B8'
 'BB BB BB BB 8B 7F F7 BB 8B BB BB B8 BB 7F F7 BB'
 'BB BB BB BB BB 7F F7 BB B7 77 77 7B BB 7F F7 BB'
 '7B BB BB B7 BB 7F F7 B7 BB BB BB BB 7B 7F F7 7B'
 'BB BB BB BB B7 7F F7 77 77 77 77 77 77 7F FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

MAILOLD BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF F7 77'
 '77 77 77 77 77 7F F7 8B BB BB BB BB B8 7F F7 B8'
 'BB BB BB BB 8B 7F F7 BB 8B BB BB B8 BB 7F F7 BB'
 'BB BB BB BB BB 7F F7 BB B7 77 77 7B BB 7F F7 BB'
 '7B BB BB B7 BB 7F F7 B7 BB BB BB BB 7B 7F F7 7B'
 'BB BB BB BB B7 7F F7 77 77 77 77 77 77 7F FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

MAILREAD BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF F7 77'
 '77 77 77 77 77 7F F7 8B BB BB BB BB B8 7F F7 B8'
 'BB BB BB BB 8B 7F F7 BB 8B BB BB B8 BB 7F F7 BB'
 'BB BB BB BB BB 7F F7 BB B7 77 77 7B BB 7F F7 BB'
 '7F 0F 00 F7 BB 7F F7 B7 FF FF FF FF 7B 7F F7 7E'
 'F0 0F 00 0F E7 7F F7 BE FF FF FF FF EB 7F FF 7E'
 'EE EE EE EE E7 FF FF F7 BB BB BB BB 7F FF FF FF'
 '7B BB BB B7 FF FF FF FF F7 77 77 7F FF FF FF FF'
 'FF FF FF FF FF FF'
}

ALERTL1 BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF F7 7F FF FF FF FF FF FF F7 7F FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF F0 0F FF FF FF FF FF'
 'FF F0 0F FF FF FF FF FF FF F0 0F FF FF FF FF FF'
 'FF F0 0F FF FF FF FF FF FF F0 0F FF FF FF FF FF'
 'FF F0 0F FF FF FF FF FF FF F0 0F FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

ALERTL2 BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF F8 58 FF FF FF FF FF FF F5 55 FF FF FF FF FF'
 'FF F8 58 FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 5F FF FF FF FF FF FF F8 58 FF FF FF FF FF'
 'FF F8 58 FF FF FF FF FF FF F9 59 FF FF FF FF FF'
 'FF F9 59 FF FF FF FF FF FF F5 55 FF FF FF FF FF'
 'FF F5 55 FF FF FF FF FF FF F5 55 FF FF FF FF FF'
 'FF F5 55 FF FF FF FF FF FF F5 55 FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

ALERTHI BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 9F FF FF FF FF FF FF F8 98 FF FF FF FF FF'
 'FF F8 98 FF FF FF FF FF FF FD 9D FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF F9 99 FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF F9 99 FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

PARSE_ERROR BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF 9F FF FF FF FF FF FF F8 98 FF FF FF FF FF'
 'FF F8 98 FF FF FF FF FF FF FD 9D FF FF FF FF FF'
 'FF FD 9D FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF F9 99 FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF F9 99 FF FF FF FF FF FF F9 99 FF FF FF FF FF'
 'FF FF FF FF FF FF'
}
